<!-- <p>tech-list works!</p>

<div class="technician-list">
    <h2>Technician Management</h2>
    <form [formGroup]="technicianForm" (ngSubmit)="addTechnician()">
      <input formControlName="name" placeholder="Name" required />
      <input formControlName="username" placeholder="Username" required />
      <input formControlName="password" type="password" placeholder="Password" required />
      <button type="submit">Add Technician</button>
    </form>

    <ul>
      <li *ngFor="let technician of technicians">
        {{ technician.name }} - {{ technician.username }}
        <ul>
          <li *ngFor="let ticket of technician.tickets">
            Ticket ID: {{ ticket.id }} - {{ ticket.description }}
          </li>
        </ul>
      </li>
    </ul>
  </div> -->


  





<app-navbar></app-navbar>

<app-sidebar></app-sidebar>





<main class="p-4 sm:ml-64 mt-8">
<div class="p-4 border-2 border-gray-200 rounded-lg bg-white text-gray-900">
  <body class="bg-gray-100 p-8 min-h-screen">
    <div class="container mx-auto">
      <h2 class="text-2xl font-bold mb-6 text-gray-900">User List</h2>

      <!-- Add Button -->
      <div class="mb-4">
        <button (click)="addTechnician()" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          Ajouter User
        </button>
      </div>

      <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="min-w-full bg-white text-gray-900 center">
          <thead class="bg-gray-100">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                Name
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                Username
              </th>
            
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let technician of technicians">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                {{ technician.name }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                {{ technician.username }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</div>
</main>