<!-- <p>ticket-form works!</p>


<h2>Create a New Ticket</h2>
<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="description">Description:</label>
    <input id="description" formControlName="description" required />
  </div>
  <div>
    <label for="panne_id">Panne ID:</label>
    <input id="panne_id" formControlName="panne_id" required />
  </div>
  <div>
    <label for="equipement_id">Equipement ID:</label>
    <input id="equipement_id" formControlName="equipement_id" required />
  </div>
  <button type="submit">Save Ticket</button>
</form>

 -->

 <!-- <form class="max-w-sm mx-auto" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ticket Description</label>
    <textarea id="description" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Description" formControlName="description" required></textarea>
  </div>

  <div class="mb-5">
    <label for="panne_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Panne</label>
    <select type="text" id="panne_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="panne" formControlName="panne_id" required >
      <option *ngFor="let panne of pannes" [value]="panne.id">{{ panne.nom }}</option>
    </select>
  </div>

  <div class="mb-5">
    <label for="equipement_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Equipement</label>
    <select id="equipement_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="equipement_id" required>
      <option *ngFor="let equipment of equipments" [value]="equipment.id">{{ equipment.nome }}</option>
    </select>
  </div>

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add new Ticket</button>
</form> -->


<app-navbar>
</app-navbar>
<app-sidebar></app-sidebar>



<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/home" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://i.ibb.co/B35n9gh/5269970.png" alt="logo">
      Support It    
    </a>
    <div class="w-full max-w-xs sm:max-w-sm bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
         Ajouter Nouveau Ticket
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <textarea type="text" name="name" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Description" formControlName="description" required></textarea>
          </div>
          <div>
            <label for="panne_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Panne</label>
            <select type="text" id="panne_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="panne" formControlName="panne_id" required >
              <option *ngFor="let panne of pannes" [value]="panne.id">{{ panne.nom }}</option>
            </select>
          </div>
          <div>
            <label for="equipement_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Equipement</label>
            <select id="equipement_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="equipement_id" required>
              <option *ngFor="let equipment of equipments" [value]="equipment.id">{{ equipment.nome }}</option>
            </select>
          </div>
         
          <button type="submit" class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center border border-dashed border-white dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" [disabled]="ticketForm.invalid">Ajouter </button>
        
        </form>
      </div>
    </div>
  </div>
</section>


