<!-- <p>view-user-tickets works!</p>

<div>
    <h2>User Tickets</h2>
    <ul>
      <li *ngFor="let ticket of tickets">
        <div>
          <span>Ticket ID: {{ ticket.id }} - Description: {{ ticket.description }}</span>
          <button (click)="resolveTicket(ticket.id)" [disabled]="ticket.status === 'COMPLETED'">Resolve</button> 
        </div>
      </li>
    </ul>
  </div> -->
  


  <!-- <h2>Liste des Tickets</h2>
<button (click)="navigateToCreateTicket()">Ajouter un Ticket</button>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Status</th>
      <th>Date de Création</th>
      <th>Technicien</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.dateCreation | date }}</td>
      <td>
        <select [(ngModel)]="selectedTechnicians[ticket.id]" (change)="assignToTechnician(ticket.id)">
          <option *ngFor="let technicien of techniciens" [value]="technicien.id">
            {{ technicien.name }}
          </option>
        </select>
      </td>
      <td>
        <button (click)="resolveTicket(ticket.id)">Résoudre</button>
      </td>
    </tr>
  </tbody>
</table> -->


<!-- <h2>User Tickets</h2>
<ul>
  <li *ngFor="let ticket of tickets">
    <div>
      <p>Description: {{ ticket.description }}</p>
      <p>Status: {{ ticket.status }}</p>
      <p>Equipement: {{ ticket.equipement.nome }}</p>
      <p>Panne: {{ ticket.panne.nom }}</p>
    </div>
  </li>
</ul> -->







<app-navbar></app-navbar>
<app-sidebar></app-sidebar>





<main class="p-0 sm:ml-64 mt-8">
  <div class="p-4 border-2 border-gray-200 rounded-lg bg-white text-gray-900">
    <body class="bg-gray-100 p-8 min-h-screen">
      <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-6 text-gray-900">User Ticket List</h2>
        <div class="mb-4">
          <button (click)="addTicket()" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            Ajouter
          </button>
        </div>
  
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
          <table class="min-w-full bg-white text-gray-900">
            <thead class="bg-gray-100">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                  Ticket Description
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                  Ticket Status
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let ticket of tickets">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ ticket.description }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span [ngClass]="{
                    'px-2 inline-flex text-xs leading-5 font-semibold rounded-full': true,'bg-green-100 text-green-800': ticket.status.toString() === 'COMPLETED','bg-yellow-100 text-yellow-800': ticket.status.toString() === 'IN_PROGRESS','bg-red-100 text-red-800': ticket.status.toString()==='PENDING'}">
                    {{ ticket.status }}
                  </span>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
