<app-navbar></app-navbar>
<!-- <app-admin-side></app-admin-side> -->
 <app-sidebar></app-sidebar>
 
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
  style="width: 60%; margin: 65px auto;">
  <app-state></app-state>
</div>
<div class="overflow-x-auto relative">
  <table class=" m-6 w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Header 1
        </th>
        <th scope="col" class="py-3 px-6">
          Header 2
        </th>
        <th scope="col" class="py-3 px-6">
          Header 3
        </th>
        <th scope="col" class="py-3 px-6">
          Header 4
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6">
          Data 1
        </td>
        <td class="py-4 px-6">
          Data 2
        </td>
        <td class="py-4 px-6">
          Data 3
        </td>
        <td class="py-4 px-6">
          Data 4
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6">
          Data 5
        </td>
        <td class="py-4 px-6">
          Data 6
        </td>
        <td class="py-4 px-6">
          Data 7
        </td>
        <td class="py-4 px-6">
          Data 8
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <td class="py-4 px-6">
          Data 9
        </td>
        <td class="py-4 px-6">
          Data 10
        </td>
        <td class="py-4 px-6">
          Data 11
        </td>
        <td class="py-4 px-6">
          Data 12
        </td>
      </tr>
    </tbody>
  </table>
</div>