<!-- <p>equipment-form works!</p> -->

<!-- src/app/components/equipment-form/equipment-form.component.html -->
<!-- <h2>{{ equipmentId ? 'Éditer l\'Équipement' : 'Créer un Équipement' }}</h2>
<form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nome">Nom :</label>
    <input id="nome" formControlName="nome" />
    <div *ngIf="equipmentForm.get('nome')?.invalid && equipmentForm.get('nome')?.touched">
      <small *ngIf="equipmentForm.get('nome')?.errors">Le nom est requis.</small>
    </div>
  </div>
  <button type="submit">{{ equipmentId ? 'Mettre à jour' : 'Créer' }}</button>
  <button type="button" (click)="onCancel()">Annuler</button>
</form> -->


<app-navbar>
</app-navbar>
<app-sidebar></app-sidebar>



<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/home" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://i.ibb.co/B35n9gh/5269970.png" alt="logo">
      Support It    
    </a>
    <div class="w-full max-w-xs sm:max-w-sm bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          {{ equipmentId ? 'Éditer l\'Équipement' : 'Créer un Équipement' }}
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Equipement Name</label>
            <input type="text" name="name" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Equipement name " required id="nome" formControlName="nome">
            <div *ngIf="equipmentForm.get('nome')?.invalid && equipmentForm.get('nome')?.touched">
              <small *ngIf="equipmentForm.get('nome')?.errors" class="test-warning bg-red-300">Le nom est requis.</small>
            </div>
          </div>
         
          <button type="submit" class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center border border-dashed border-white dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" [disabled]="equipmentForm.invalid">{{ equipmentId ? 'Mettre à jour' : 'Créer' }}</button>
        
        </form>
      </div>
    </div>
  </div>
</section>

