<form class="max-w-sm mx-auto" [formGroup]="assignForm" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <label for="equipment_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Équipement</label>
    <select id="equipment_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="equipment_id" required>
      <option *ngFor="let equipment of equipments" [value]="equipment.id">{{ equipment.nome }}</option>
    </select>
  </div>

  <div class="mb-5">
    <label for="user_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Utilisateur</label>
    <select id="user_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="user_id" required>
      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
    </select>
  </div>

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Assigner l'Équipement</button>
</form>
