<!-- Navigation Bar -->
<app-navbar></app-navbar>
  
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  
  <!-- <app-state></app-state> -->
  <!-- <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    
    <app-state></app-state>
  </div> -->
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14" style="width: 60%; margin: 65px auto;">
    <app-state></app-state>
  </div>
  
  
  
  
  <!-- Content Area -->
  <main class="p-4 sm:ml-64">
    <router-outlet></router-outlet>
  </main>
  



  