<!-- <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <span>counter 1212</span>
          </p>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <span>STAT 1212</span>
          </p>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <span>DOWN 1234</span>
          </p>
        </div>
</div> -->

<div class="grid grid-cols-3 gap-4 mb-4">
    <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-center text-gray-400 dark:text-gray-500">
        <span>counter 1212</span>
      </p>
    </div>
    <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-center text-gray-400 dark:text-gray-500">
        <span>STAT 1212</span>
      </p>
    </div>
    <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-center text-gray-400 dark:text-gray-500">
        <span>DOWN 1234</span>
      </p>
    </div>
  </div>
  